<style>
    body {
        text-align: left;
        padding: 100px;
    }
    
    .nav_panel {
        color: #fff;
    }

    .card bg-dark text-white text-center {
        background-color: #ffffff10;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }

    #footer {
        position: fixed;
        left: 0; bottom: 0;
        padding: 20px;
        background: #ff0000;
        color: #fff;
        width: 100%;
    }
    
    #header {
        position: fixed;
        left: 0; top: 0;
        padding: 30px;
        background: #ff0000;
        color: #fff;
        width: 100%;
    }
</style>