<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Медиа 57:: Личные данные</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>


<body>
    <div class="header"></div>
    <div class="content">

        <div id="registration-forms">
            <form method="post">
                {% csrf_token %}
                <ul>
                    <li>
                        {{ basic_profile.first_name.label_tag }}
                        {{ basic_profile.first_name }}
                    </li>
                    <li>
                        {{ basic_profile.last_name.label_tag }}
                        {{ basic_profile.last_name }}
                    </li>
                    <li>
                        {{ basic_profile.username.label_tag }}
                        {{ basic_profile.username }}
                    </li>
                    <li>
                        {{ basic_profile.birthday.label_tag }}
                        {{ basic_profile.birthday }}
                    </li>
                    <li>
                        {{ basic_profile.gender.label_tag }}
                        {{ basic_profile.gender }}
                    </li>
                    <li>
                        {{ basic_profile.is_student.label_tag }}
                        {{ basic_profile.is_student }}
                    </li>
                    <li>
                        {{ basic_profile.is_teacher.label_tag }}
                        {{ basic_profile.is_teacher }}
                    </li>
                </ul>
                
            </form>
        </div>
    </div>
    <div class="footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'basic_registration.js' %}"> </script>
    <script src="{% static 'student_registration.js' %}"> </script>
    <script src="{% static 'teacher_registration.js' %}"> </script>


</body>
</html>
