<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Медиа 57:: регистрация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>


<body>
    <div class="header"></div>
    <div class="content">

        <div id="registration-forms">
            <form method="post" enctype='multipart/form-data'>
                {% csrf_token %}

                <div id="general-registration">
                    <ul>
                        {{ general_reg_form.as_ul }}
                    </ul>
                </div>
                
                <input type="checkbox" name="is_student" id="id_is_student">I'm a student</input>
                <div id="student-registration">
                        {{ student_reg_form.as_ul }}
                        <div id="grade_block">
                        <label for="id_grade">Grade:</label>
                        <select name="grade" id="id_grade">
                        </select>
                        </div>
                        <div id="custom-grade">
                            {{ grade_form }}
                        </div>
                        </div>

                <br>
                <input type="checkbox" id="id_is_teacher" name="is_teacher">I'm a teacher</input>



                <div id="teacher-registration">
                    <ul id="teacher_reg_list">
                        {{ teacher_reg_form }}

                        <ul id="other_subjects"></ul>
                        <button type="button" id="id_another_subject_button">Another subject</button> 
                        
                    </ul>

                </div>
                <br>
                <input id="id_submit" type="submit" value="Зарегистрироваться">


            </form>
        </div>
    </div>
    <div class="footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'basic_registration.js' %}"> </script>

    <script src="{% static 'student_registration.js' %}"> </script>
    <script src="{% static 'teacher_registration.js' %}"> </script>

</body>

</html>